query ($q: JSON!, $page: Int!, $per: Int!){
  <%= name.downcase.pluralize %>(
    q: $q
    page: $page
    per: $per
  ){
    records {
<% name.constantize.columns.each do |column| -%>
      <%= "#{column.name[0].downcase}#{column.name[1..]}" %>
<% end -%>
    }
    totalCount
    perPage
    currentPage
  }
}
