query ($q: JSON!, $page: Int!, $per: Int!){
  <%= name.pluralize.camelize(:lower) %>(
    q: $q
    page: $page
    per: $per
  ){
    records {
<% name.constantize.columns.each do |column| -%>
      <%= "#{column.name.camelize(:lower)}" %>
<% end -%>
    }
    totalCount
    perPage
    currentPage
  }
}
